<h2>All Subs</h2>
<% if logged_in? %>
  <a href='<%= new_sub_url %>'>Create Sub</a>
<% end %>
<% Sub.all.each do |sub| %>
  <%= User.find(sub.moderator_id) %>
  <%= sub.title %>
  <%= sub.description %>
<% end %>
