<% if logged_in? %>
  <a href='<%= new_sub_url %>'>Create Sub</a>
<% end %>
<h2>All Subs</h2>
<% Sub.all.each do |sub| %>
  <% User.find(sub.moderator_id) %>
  <section>
    <h3><a href='<%= sub_url(sub) %>'><%= sub.title %></a></h3>
    <br>
    <%= sub.description %>
  </section>
<% end %>
